{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}expense{% endblock %}

{% block body_block %}

        <h1>Expense Manager</h1>
            <ul>
                {% for transaction in transactions %}
                <li>{{ transaction.amount }}</li>
                <li>{{ transaction.comment }}</li>
                <li>{{ transaction.category }}</li>
                <li>{{ transaction.user }}</li><br />
                    {% empty %}
                    You don't have made any transactions yet.
                {% endfor %}
            </ul>
{% endblock %}
