{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}expense{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">
        <h1>Hello {{ user.username }}!</h1>

        <h1>Previous Transactions:</h1>
{#            <ul class="nav nav-tabs nav-justified">#}

            <table style="width:100%">
                <tr>
                    <p><th>Amount</th>
                    <th>Comment</th>
                    <th>Category</th>
                    <th>Transaction Time</th></p>
                </tr>

                {% for transaction in categories %}
                    <tr>
                        <th>{{ transaction.amount }}</th>
                        <th>{{ transaction.comment }}</th>
                        <th>{{ transaction.category }}</th>
                        <th>{{ transaction.created_at }}</th>
                    </tr>
                {% empty %}
                    You don't have made any transactions yet.
                {% endfor %}


             </table>




                <h1>And your top five category in which you have expend more money...</h1>
                {% for top_cat in top_five_cat %}
                    <tr>
                        <th>{{ top_cat }}</th><br />
                    </tr>
                {% endfor %}


        </div>​
{% else %}



    <h1>Hello...</h1>
{% endif %}

    </div>

{% endblock %}

