<!DOCTYPE html>
<html>
    <head>
        <title>expense</title>
    </head>

    <body>
        <h1>Expense Manager</h1>

        {% if categories %}
            <ul>
                {% for transaction in categories %}
                <li>{{ transaction.amount }}</li>
                <li>{{ transaction.comment }}</li>
                <li>{{ transaction.category }}</li><br />
                {% endfor %}
            </ul>
        {% endif %}

    <a href="/expense/add_transaction">Add a new transaction</a><br />
    <a href="{% url 'auth_login' %}">Login</a><br />
    <a href="{% url 'registration_register' %}">Register Here</a>


    </body>
</html>