{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}expense{% endblock %}

{% block body_block %}

        <h1>Expense Manager</h1>

        {% if categories %}
            <ul>
                {% for transaction in categories %}
                <li>{{ transaction.amount }}</li>
                <li>{{ transaction.comment }}</li>
                <li>{{ transaction.category }}</li><br />
                {% endfor %}
            </ul>
        {% endif %}

    {% if user.is_authenticated %}

    <a href="/expense/add_transaction">Add a new transaction</a><br />
    <a href="{% url 'auth_logout' %}">Logout</a><br />


    {% else %}

    <a href="{% url 'auth_login' %}">Login</a><br />
    <a href="{% url 'registration_register' %}">Register Here</a>

    {% endif %}

{% endblock %}