<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Expense Manager</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
{#                    <a class="navbar-brand" href="/expense/">Expense Manager</a>#}
                        <a class="navbar-brand" href="/">Expense Manager</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
{#                            <li><a href="{% url 'index' %}">Home</a></li>#}
                                {% if user.is_authenticated %}
                                    <li><a href="/expense/add_monthly_budget">Set Monthly Budget</a> </li>

                                    <li><a href="/expense/add_category">Add Category</a> </li>
                                    <li><a href="/expense/add_transaction">Add Transaction</a> </li>
                                    <li><a href="{% url 'auth_logout' %}?next=/expense/">Logout</a></li>

                                {% else %}
                                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                                {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    {% block side_block %}{% endblock %}

                        {% if user.is_authenticated %}

{#                        <a href="/expense/all_transactions">View Previous Transactions</a><br /><br/>#}
                        <a href="/expense/transactions_per_category">View Transactions per Category</a><br /><br />
{#                        <a href="/expense/add_category">Add a new category</a><br /><br/>#}
{#                        <a href="/expense/add_monthly_budget">Set Monthly Budget</a><br /><br/>#}
{#                        <a href="/expense/add_transaction">Add a new transaction</a><br /><br/>#}
                        <a href="/expense/display_monthly_budget">View Your Monthly Budget</a><br/><br/>
{#                            <a href="/expense/month_year_transactions">Select Month and Year</a>#}




                                        <input type="month" id="myMonth" value="2016-04">
                                            <button id="call-function"><a href="#">View Transaction</a></button>
                                            <p id="demo"></p>





                        {% endif %}
            </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div>
                        {% block body_block %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    </body>
</html>